.footer {
    background-color: #C4A9CD;
    padding-top: 66px;
    padding-bottom: 100px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 0 70px;
    margin-bottom: 70px;
}

.footer__logo {
    margin-right: 10px;
}

.footer__items {
    flex-basis: 387px;
}

.footer__item + .footer__item {
    margin-top: 70px;
}

.footer__item-title {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer__item-form {
    position: relative;
}

.footer__item-input {
    width: 100%;
    display: block;
    padding: 10px 60px 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #C4A9CD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.footer__item-input::placeholder {
    font-size: 12px;
    color: #000;
    opacity: 0.4;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.footer__item-btn {
    position: absolute;
    right: 0;
    top: 10px;
}

.footer__item-list li {
    padding-top: 10px;
}

.footer__social-list {
    align-self: self-end;
    margin-left: 10px;
    margin-right: 105px;
}

.footer__social-item + .footer__social-item{
    margin-top: 20px;
}

.footer__social-item svg path{
    transition: all .3s;
}
.footer__social-item svg:hover path{
    fill: #7449BB;
}

.footer__nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 105px;
}

.footer__nav-list {
    display: flex;
    gap: 20px;
}
